.overlay {
	animation: slide-in var(--animation-duration) var(--animation-timing-curve);
	background-color: rgba(0, 0, 0, 0.2);
	display: none;
	inset: 0;
	position: fixed;
}

.modal {
	--animation-duration: 200ms;
	animation: appear var(--animation-duration) var(--animation-timing-curve);
	animation-delay: var(--animation-duration);
	animation-fill-mode: forwards;
	background-color: var(--white-color);
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
	border-radius: 0.5rem;
	display: none;
	position: fixed;
	left: 50%;
	max-height: calc(100vh - var(--header-height));
	overflow-x: hidden;
	overflow-y: auto;
	opacity: 0;
	top: 50%;
	transform: translate(-50%, -50%);

	.modal-header {
		background-color: var(--white-color);
		box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.05);
		margin-bottom: 2rem;
		padding: 1rem;
		position: sticky;
		top: 0;

		p {
			font-size: 1.2rem;
			font-weight: 500;
			text-align: center;
		}

		.close {
			position: absolute;
			left: 5%;
			top: 20%;
			padding: 0.5rem 0.7rem;
			border-radius: 50%;
			cursor: pointer;
			&:hover {
				background-color: var(--lightGrey-color);
			}
		}
	}

	.modal-content {
		// margin-top: 4rem;
		padding: 1rem;
		display: grid;
		grid-template-columns: 30rem;
		gap: 1rem;

		.cartItem {
			display: flex;
			box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
			border-radius: 0.5rem;
			padding: 0.5rem 1rem;

			.card-media {
				width: 50%;
				margin-right: 1rem;
				img {
					max-width: 100%;
					object-fit: contain;
				}
			}

			.card-content {
				.content-title {
					margin-top: 1.5rem;
					font-size: 1.2rem;
				}

				.content-rating {
					margin: 1rem 0;
					display: flex;
					justify-content: space-between;
					align-items: center;
					.rating-rate {
						color: var(--yellow-color);
					}

					.price {
						font-size: 1.3rem;
						font-weight: 600;
					}
				}

				.content-footer {
					margin-bottom: 1rem;
					display: flex;
					justify-content: space-between;
					align-items: center;

					.quantity {
						display: flex;
						justify-content: center;
						align-items: center;

						button {
							padding: 0.3rem 0.8rem;
							font-size: 1.3rem;
							border: none;
							border-radius: 0.5rem;
							cursor: pointer;
							background-color: var(--lightBlue-color);
							transition: background-color 200ms ease-in,
								transform 300ms ease-in;
							&:hover {
								background-color: var(--blue-color);
							}
							&:active {
								transform: scale(0.9);
							}
						}

						p {
							margin: 0 0.5rem;
							font-size: 1.3rem;
						}
					}

					.fa-trash-can {
						color: var(--red-color);
						font-size: 1.5rem;
						cursor: pointer;
						padding: 0.7rem;
						border-radius: 50%;
						&:hover {
							background-color: var(--lightRed-color);
						}
					}
				}
			}
		}

		.empty-cart {
			display: flex;
			flex-direction: column;
			align-items: center;
			box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
			border-radius: 0.5rem;
			margin-top: -1rem;
			padding: 2rem 1rem;

			h3 {
				margin-bottom: 1rem;
			}
		}
	}

	@media (max-width: 558px) {
		.modal-content {
			grid-template-columns: 25rem;
		}
	}

	@media (max-width: 480px) {
		.modal-content {
			grid-template-columns: 20rem;

			.cartItem {
				flex-direction: column;

				.card-media {
					width: 100%;
					height: auto;
					margin: 0;
					img {
						aspect-ratio: 3/2;
					}
				}
			}
		}
	}
	@media (max-width: 370px) {
		.modal-content {
			grid-template-columns: 16rem;
		}
	}
}
